@use "mixins";
@use "vars";


.card-container{
    background:linear-gradient(180deg, vars.$main_color 0%, rgba(245, 86, 86, 0.795) 42%, rgb(110, 43, 43) 99.99%, rgba(0, 0, 0, 1) 100%);

    width: 340px;
    height: 340px;

    display: flex;

    border-radius: 10px;

    p{
        @include mixins.font(18px, 25.67px, 700);
        height: 52px;
        margin: auto 20px 20px 20px;
        color: white;
    }
}