@use "mixins";

.carousel-container {
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    height: 415px;
    width: 1240px;
    border-radius: 25px;
    
    position: relative;

    .carousel-compteur{
        position: absolute;
        left: 50%;
        bottom: 24.92px;
        color: white;
        @include mixins.font(18px, 25.67px);
        text-align: center;
        display: block;
    }

    div{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        width: 48px;
        height: 80px;

        img{
            width: auto;
            height: 100%;
        }
    }

    .prevBtn{        
        left: 23px;
        transform: translateY(-50%) rotate(180deg);
    }

    .nextBtn{
        right: 23px;
    }

    .carousel-item {
        min-width: 100%;
        display: flex;
        object-fit: cover;
        align-items: center;
        justify-content: center;
        transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    @include mixins.media(){
        width: 335px;
        height: 255px;
        border-radius: 10px;

        .carousel-compteur{
            display: none;
        }

        div{
            width: 24px;
            height: 24px;

            &.prevBtn{
                left: 0px;
            }

            &.nextBtn{
                right: 0px;
            }
        }
    }
}
