@use "mixins";
@use "vars";

.collapsible {
    button {
        background-color: vars.$main_color;
        cursor: pointer;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        position: relative;
        border-radius: 5px;
        padding: 10px 20px 10px 10px;

        @include mixins.font(18px, 25.67px, 700);
        color: white;

        &::after {
            content: url("../../public/collapse_arrow.svg");
            display: block;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%) rotate(270deg);
        }

        &.active {
            &::after {
                transform: translateY(-50%) rotate(90deg);
            }
        }
    }

    .content {
        border-radius: 0px 0px 5px 5px;
        background-color: #f6f6f673;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;

        p, ul{
            margin: 20px 20px 20px 20px;                
            @include mixins.font(18px, 25.67px, 400);
        }

        ul{
            list-style: none;                
            padding: 0;
        }
    }
}