@use "mixins";

footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 66px;

    img{
        width: 122px;
        height: auto;
        align-self: center;
    }

    p{
        @include mixins.font(24px, 34.22px);
        text-align: center;
    }
}