@use "mixins";
@use "vars";

#logement {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logement_profil {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .profil_proprietaire {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .profil {
            display: flex;
            gap: 10px;
            justify-content: flex-end;

            p {
                text-align: right;
            }

            img {
                align-self: center;
            }
        }
    }

    h1 {
        @include mixins.font(36px, 51.34px);
        color: vars.$main_color;
    }

    p {
        @include mixins.font(18px, 25.67px);
    }
}
