@use "mixins";

nav{
    margin: 45px 100px 50px 100px;
    display: flex;
    height: 68px;

    img{
        height: 100%;
        width: auto;
    }

    div:first-child{
        flex-grow: 2;
    }

    div:last-child{
        display: flex;
        align-items: center;
        gap: 57px;
    }

    a{
        color: black;
        @include mixins.font(24px, 34.22px);
    }

    .active-link{
        text-decoration: underline;
    }

    @include mixins.media(){
        height: 47px;
        margin: 20px 20px 27px 20px;

        div:last-child{
            gap: 26px;
        }

        a{
            @include mixins.font(12px, 17.11px);
            text-transform: uppercase;
        }
    }
}