@use "footer";
@use "nav";
@use "pageNotFound";
@use "banner";
@use "gallery";
@use "card";
@use "carousel";
@use "logement";

body{
    margin: 0;
}

main{    
    margin-left : 100px;
    margin-right: 100px;
}

a{
    text-decoration: none;
    color: black;
}