@use "mixins";

@use "footer";
@use "nav";
@use "pageNotFound";
@use "banner";
@use "gallery";
@use "card";
@use "carousel";
@use "logement";
@use "collapsible";
@use "infologement";
@use "profil";
@use "tagslist";
@use "rating";
@use "apropos";

body{
    margin: 0;
}

main{    
    margin-left : 100px;
    margin-right: 100px;
}

a{
    text-decoration: none;
    color: black;
}

@include mixins.media(){
    main{
        margin-left:20px;
        margin-right:20px;
    }
}